.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    padding: 10px 10px 10px 0;
    outline: none;

    &__container {
        position: relative;
        outline: none;
        border-bottom: 2px solid #aaafaf;

        &:focus {
            .label {
                font-size: 1rem;
                color: #239bd6;
                transform: translateY(-120%);
            }

            &::after {
                background-color: #239bd6;
                width: 100%;
            }
        }

        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            content: '';
            transition: width .3s;
        }

        &_focus {
            &::after {
                background-color: #239bd6;
                width: 100%;
            }

            .label {
                font-size: 1rem;
                color: #239bd6;
                transform: translateY(-120%);
            }
        }
    }
}
