.select {
    &__container {
        width: 100%;
        height: 1.6rem;
        border: none;
        background: transparent;
        font-size: 1.25rem;
        outline: none;

        &::after {
            position: absolute;
            top: 0;
            right: 1rem;
            width: 0;
            height: 0;
            clear: both;
            transition: all .3s;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #aaafaf;
            content: '';
            transform: rotate(0);
        }

        &_focus {
            &::after {
                border-top: 7px solid #239bd6;
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        margin-bottom: 0;
        line-height: 1.6rem;
    }

    &__option-wrapper {
        position: absolute;
        right: 0;
        top: 2.5rem;
        z-index: 2;
        padding: 1rem;
        width: 100%;
        transition: all .3s;
        transform: translateY(-10%);
        background-color: #fff;
        box-shadow: 0 0 5px #888;
        border-radius: 2px;
        opacity: 0;
        visibility: hidden;

        &_display {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__option {
        cursor: pointer;

        &:hover {
            color: #239bd6;
            border-bottom: 1px solid #239bd6;
        }
    }

    &__select {
        display: none;
    }
}
