.text-input {
    &__input {
        width: 100%;
        line-height: 1rem;
        font-size: 1.25rem;
        border: none;
        background: transparent;

        &:focus {
            outline: none;
        }
    }
}
