.error {
    .errorBlock {
        max-height: 100%;
        opacity: 1;
        transform: translateY(0);
    }

    .form-group {
        &__container {
            &::after {
                width: 100%;
                background-color: red;
            }

            .label {
                color: red;
            }
        }
    }

    .select__custom_select::after {
        border-top: 10px solid red;
    }
}
